::-webkit-scrollbar {
  width: 0px;
}

* {
  box-sizing: border-box;
  border-end-end-radius: 13px;
  border-end-start-radius: 13px;
  border-start-end-radius: 13px;
  border-start-start-radius: 13px;
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}


body {
  background-color: rgb(61, 61, 61);
  font-family: 'Montserrat';
}

.fullscreen {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}

.center-text {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the text */
.text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-family: monospace;
  font-size: 6vmin;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.naslov {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #FF595A;
  font-family: monospace;
  font-size: 3vmin;
}

.mapa {
  width: 90%;
  height: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 22px;
  margin-bottom: 22px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}

body {
  z-index: 0;
}

.spodaj {
  position: relative;
  align-items: center;
  left: 0;
  right: 0;
  text-align: center;
  color: #FF595A;
  font-family: monospace;
  font-size: 2.5vmin;
  padding-bottom: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #aaaaaa;
}

.navbar ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 5px;
  place-content: center;
  width: 100%;
  list-style: none;
}

.navbar ul li {
  padding: 1rem 1rem;
  width: 100%;
  text-align: center;
}

.navbar ul li:hover {
  background-color: rgb(133, 133, 133);
  transition: 0.5s;
}

.navbar ul li a {
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .navbar ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 20px;
    place-content: center;
    width: 100%;
    list-style: none;
  }

  .navbar ul li {
    padding: 1rem 1rem;
    width: 100%;
    text-align: center;
  }

  .navbar ul li a {
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  header {
    height: 380px;
  }

  header .nav {
    height: 80px;
    display: flex;
    width: 100%;
    float: right;
  }

  header .nav ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 20px;
    place-content: center;
    width: 100%;
    list-style: none;
    margin-top: 150px;
  }

  header ul li {
    padding: 1rem 1rem;
    width: 100%;
    text-align: center;
  }

  header ul li a {
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
  }

  header ul li a:hover {
    color: rgb(210, 210, 210);
    transition: 0.5s;
    border: 2px solid #ffffff;
    padding: 10px;
  }

  h2 {
    font-size: 1.2rem;
    width: 100%;
    height: 40px;
  }

  h1 {
    font-size: 1.5rem;
    width: 100%;
    height: 40px;
  }
}

.sola-vsebina {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 20px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  place-items: center;
}

.content-item {
  background-color: rgb(218, 218, 218);
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  border-radius: 20px;
  text-decoration: none;
  color: rgb(155, 155, 155);
  transition: 0.3s;
  margin-top: 20px;
  box-shadow: 0 0 4px #000000;
  width: 400px;
  height: 400px;
}

.content-item:hover {
  cursor: pointer;
  background-color: rgb(133, 133, 133);
  box-shadow: 10px 10px 20px #000000;
  transition: 0.3s;
  scale: 1.01;
}

.content-item img {
  width: 80%;
  height: 80%;
  border-radius: 20px;
  margin-top: 10px;
}

.content-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.4em;
  font-family: 'Montserrat';
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 900;
  font-style: bold;
}

.content-item a:hover {
  color: rgb(210, 210, 210);
  transition: 0.5s;
}

.map-vsebina {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  padding: 20px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  place-items: center;
}

.music-vsebina {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 20px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  place-items: center;
}

.testi-vsebina {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
  padding: 20px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  place-items: center;
}

.up {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #FF595A;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .sola-vsebina {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    place-items: center;
  }

  .music-vsebina {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    place-items: center;
  }
}

.up:hover {
  background-color: rgb(61, 61, 61);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 20px, rgba(0, 0, 0, 0.22) 0px 6px 4px;
  scale: 0.9;
  transition: 0.3s;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.up a {
  color: #ffffff;
  text-decoration: none;
}

footer {
  height: 80px;
  width: 100%;
  background-color: rgb(109, 109, 109);
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}